.features-section {
  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/features/features-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top 156px center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 150px;
    padding-bottom: 226px;
    max-width: 1440px;
    background-image: url(../img/features/features-bg-desk.png);
    background-position: top 150px center;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-title {
  margin-bottom: 241px;

  @include media(desktop) {
    margin-bottom: 60px;
  }
}

.features-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
