<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <div class="faq-content-wrapper">
      <picture>
        <source
          srcset="./img/faq/faq-bg-desk.png"
          media="(min-width: 1440px)"
          width="525"
          height="508" />
        <source srcset="./img/faq/faq-bg-mob.png" width="375" height="240" />
        <img
          class="faq-img"
          src="./img/faq/faq-bg-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="240"
          loading="lazy"
      /></picture>
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Is the game playable offline?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="34" height="34">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            You can play most of it without wifi, though some features need you
            to be online.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Does the game continue generating income when I’m away?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="34" height="34">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes, the idle system allows shops to generate passive income over
            time.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Are there different types of shops?</span
            >
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="34" height="34">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes, players unlock multiple shop categories as the street expands.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Is the game suitable for all ages?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="34" height="34">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Absolutely! It's the kind of game you can play with your kids or
            just chill with after work.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
