<section class="features-section section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">Key Highlights</h2>
      <picture>
        <source
          srcset="./img/features/features-img-desk.png"
          media="(min-width: 1440px)"
          width="1280"
          height="331" />
        <source
          srcset="./img/features/features-img-mob.png"
          width="335"
          height="604" />
        <img
          class="features-img"
          src="./img/features/features-img-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="604"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
