<section class="section gameplay-section" id="gameplay">
  <div class="container gameplay-container">
    <h2 class="section-title gameplay-title">Player Flow</h2>
    <div class="gameplay-content-wrapper">
      <ul class="gameplay-list">
        <li class="gameplay-list-item">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img1-desk.png"
              media="(min-width: 1440px)"
              width="197"
              height="197" />
            <source
              srcset="./img/gameplay/gameplay-img1-mob.png"
              width="157"
              height="157" />
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img1-mob.png"
              alt="Screenshot of the game"
              width="157"
              height="157"
              loading="lazy"
          /></picture>
          <p class="gameplay-item-text">
            <span class="gameplay-text-span">Start your first shop</span><br />
            Open your shop and attract animal customers
          </p>
        </li>
        <li class="gameplay-list-item">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img2-desk.png"
              media="(min-width: 1440px)"
              width="197"
              height="197" />
            <source
              srcset="./img/gameplay/gameplay-img2-mob.png"
              width="157"
              height="157" />
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img2-mob.png"
              alt="Screenshot of the game"
              width="157"
              height="157"
              loading="lazy"
          /></picture>
          <p class="gameplay-item-text">
            <span class="gameplay-text-span">Earn and reinvest</span><br />
            Make coins from sales and upgrade your shop
          </p>
        </li>
        <li class="gameplay-list-item">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img3-desk.png"
              media="(min-width: 1440px)"
              width="197"
              height="197" />
            <source
              srcset="./img/gameplay/gameplay-img3-mob.png"
              width="157"
              height="157" />
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img3-mob.png"
              alt="Screenshot of the game"
              width="157"
              height="157"
              loading="lazy"
          /></picture>
          <p class="gameplay-item-text">
            <span class="gameplay-text-span">Unlock new buildings</span><br />
            Expand your business with new shops
          </p>
        </li>
        <li class="gameplay-list-item">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img4-desk.png"
              media="(min-width: 1440px)"
              width="197"
              height="197" />
            <source
              srcset="./img/gameplay/gameplay-img4-mob.png"
              width="157"
              height="157" />
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img4-mob.png"
              alt="Screenshot of the game"
              width="157"
              height="157"
              loading="lazy"
          /></picture>
          <p class="gameplay-item-text">
            <span class="gameplay-text-span">Grow your street</span><br />
            Build and scale your commercial area
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
